<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SKDULR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <div class="parent text-center flex flex-col h-screen">
        <!-- <header class="bg-green-400 p-4">Header</header> -->
        <main class="bg-gray-400 flex-1 flex">
            <div class="sidebar-1 bg-dark w-64 border-r dark:bg-gray-800 dark:border-gray-600 p-4">
                <h2 class="text-3xl font-semibold text-center text-gray-800 dark:text-white">SkdULR</h2>

                <div class="flex flex-col items-center mt-6 -mx-2">
                    <!-- <img src="{{url_for('static', filename='Hermes.png')}}align="middle" /> -->
                    <img class="object-cover w-24 h-24 mx-2 rounded-full" src="{{url_for('static', filename='dp.png')}}"
                        alt="avatar">
                    <h4 class="mx-2 mt-2 font-medium text-gray-800 dark:text-gray-200 hover:underline">Anurag Yadav</h4>
                    <!-- <p class="mx-2 mt-1 text-sm font-medium text-gray-600 dark:text-gray-400 hover:underline">john@example.com</p> -->
                </div>

                <div class="flex flex-col justify-between flex-1 mt-6">
                    <nav>
                        <a class="flex items-center px-4 py-2 text-gray-100 " href="#">
                            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <span class="mx-4 font-medium">Dashboard</span>
                        </a>
                        <a class="flex items-center px-4 py-2 text-gray-100 "
                            href="https://codeforces.com/profile/Anurag_Yadav15">
                            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <span class="mx-4 font-medium">CodeForces</span>
                        </a>
                        <a class="flex items-center px-4 py-2 text-gray-100 " href="https://leetcode.com/anuragy3840/">
                            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <span class="mx-4 font-medium">LeetCode</span>
                        </a>

                        <a class="flex items-center px-4 py-2 text-gray-100 " href="https://docs.google.com/document/d/1sg-D4D34BeT5oracyL45xF-pZJcZ9oklVRAjHtlfFjk/edit?usp=sharing">
                            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17"
                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>

                            <span class="mx-4 font-medium">Sheet</span>
                        </a>
                        <div class="pt-72">
                            <footer
                                class="flex flex-col items-center justify-between px-3 py-2 bg-gradient dark:bg-gray-800 sm:flex-row">
                                <a href="#"
                                    class="text-xl font-bold text-gray-800 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">SkdULR</a>

                                <p class="py-2 text-gray-800 dark:text-white sm:py-0">All rights reserved</p>



                            </footer>
                        </div>


                    </nav>
                </div>
            </div>
            <div class="content flex-1 pt-5">

                <section class="max-w-4xl p-6 mx-auto bg-transparent rounded-md shadow-md dark:bg-gray-800">
                    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">ADD WORKS</h2>

                    <form>
                        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                            <div>
                                <label class="text-gray-700 dark:text-gray-200">Codeforces (VC / C)</label>
                                <input id="text1" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>

                            <div>
                                <label class="text-gray-700 dark:text-gray-200">LEETCODE</label>
                                <input id="text2" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>

                            <div>
                                <label class="text-gray-700 dark:text-gray-200">SUBJECT</label>
                                <input id="text3" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>

                            <div>
                                <label class="text-gray-700 dark:text-gray-200">EXTRA</label>
                                <input id="text4" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>
                        </div>

                        <div class="flex justify-end mt-6">
                            <button
                                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
                        </div>
                    </form>
                </section>

                <section class="max-w-4xl p-6 mx-auto bg-transparent rounded-md shadow-md dark:bg-gray-800">
                    <h2 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">ADD BACKLOGS</h2>

                    <form action="/" method="POST">
                        <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                            <div>
                                <label for="ifany" class="text-dark-700 dark:text-dark-200">If Any (30 Limit)</label>
                                <input  type="text" id="ifany" name="ifany" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>

                            <div>
                                <label for="date" class="text-dark-700 dark:text-dark-200">Date</label>
                                <input id="text2" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 dark:focus:border-blue-300 focus:outline-none focus:ring">
                            </div>


                        </div>

                        <div class="flex justify-end mt-6">
                            <button
                                class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">Save</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="sidebar-2 bg-white w-4/12 border-r dark:bg-gray-800 dark:border-gray-600">
                <!-- <div class="sidebar-2 pl-96 w-64 h-screen py-8 bg-dark border-r dark:bg-gray-800 dark:border-gray-600"> -->
                <h2 class="text-3xl pt-4 text-center text-gray-800 dark:text-dark">BackLOGS</h2>
                {% if allSk|length == 0 %}

                <div class="alert alert-dark" role="alert">
                    No Backlog found!
                </div>
                {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">SNo</th>
                            <th scope="col">Title</th>
                            <!-- <th scope="col">Description</th> -->
                            <th scope="col">Date</th>
                            <!-- <th scope="col">Actions</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        {% for todo in allSk %}
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{todo.ifany}}</td>
                            <td>{{todo.dates}}</td>
                            <!-- <td>{{todo.date_created}}</td> -->
                            <td>
                                
                                    <a href="/delete/{{todo.sno}}" type="button"
                                        class="btn btn-outline-dark btn-sm mx-1">Delete</button>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                      {% endif %}
                        <!-- </div> -->
            </div>
        </main>



    </div>

    <script src="" async defer></script>
</body>

</html>